@model OperaWeb.Models.Opera
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Opera Detail</title>
</head>
<body>
    <h1>Opera Detail</h1>
    <ul>
        <li>@Html.DisplayNameFor(m => m.Title): @Html.DisplayFor(m => m.Title)</li>
        <li>@Html.DisplayNameFor(m => m.Year): @Html.DisplayFor(m => m.Year)</li>
        <li>@Html.DisplayNameFor(m => m.Composer): @Html.DisplayFor(m => m.Composer)</li>
    </ul>
    <hr />
    <h3>User Comments</h3>
    @foreach (var item in Model.Comments)
    {
        <div><span>@item.UserName : @item.UserComment - @item.LastModified.ToString("yyyy/MM/dd")</span></div>
    }
    <p><a asp-controller="opera" asp-action="">Back to List</a></p>
</body>
</html>
